{
  "format_version": "1.12",
  "minecraft:recipe_shaped": {
    "description": {
      "identifier": "itemtransformation:{{ input_item }}_to_{{ result_item }}"
    },
    "tags": [
      "transformation_table"
    ],
    "pattern": [
      "#"
    ],
    "key": {
      "#": {
        "item": "minecraft:{{ input_item }}"
      }
    },
    "result": {
      "item": "minecraft:{{ result_item }}",
      "count": 1
    }
  }
}